/* Start Main Rulez */

body {
    background-color: #f4f4f4;
    font-size: 16px;
}

h1 {
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #888;
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #d81616;
}

.nice-message {
    padding: 10px;
    margin: 10px 0;
    background-color: #FFF;
    border-left: 5px solid #080;
}

/* End Main Rulez */

/* Start Bootstrap Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 15px;
}

.dropdown-menu>li>a {
    color: #FFF;
    padding: 10px 15px;
    border-radius: 15px;
}

.form-group .col-sm-10 {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Header */

.upper-bar {
    
}

/* End Header */

/* Start Categories Page */
.item-box {
    position: relative;
}

.item-box .price-tag {
    background-color: #BEBEBE;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: bold;
    color: #FFF;
}
/* End Categories Page */