/* Start Main Rulez */

body {
    background-color: #f4f4f4;
    font-size: 16px;
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #d81616;
}

.login {
    width: 300px;
    margin: 100px auto;
}

.login .h4 {
    color: #888;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #E5E5E5;
}

.login .btn {
    background-color: #008dde;
}

/* End Login Form */

/* Start Bootstrap Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 15px;
}

.dropdown-menu>li>a {
    color: #FFF;
    padding: 10px 15px;
    border-radius: 15px;
}

.form-group .col-sm-10 {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Dashboard Page*/

.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    color: #FFF;
}

.home-stats .stat a {
    color: #FFF;
}

.home-stats .stat a:hover {
    text-decoration: none;
}

.home-stats .st-members {
    background-color: #3498db;
}

.home-stats .st-pending {
    background-color: #3498db;
}

.home-stats .st-item {
    background-color: #3498db;
}

.home-stats .st-coments {
    background-color: #3498db;
}

.home-stats .stat span {
    display: block;
    font-size: 60px;
}

.latest {
    margin-top: 30px;
}

.latest-users {
    margin-bottom: 0;
}

.latest-users li {
    padding: 9px;
    overflow: hidden;
}

.latest-users li:nth-child(odd) {
    background-color: #EEE;
}

.latest-users .btn-success, 
.latest-users .btn-info {
    padding: 1px 8px;
}

.latest-users .btn-info {
    margin-right: 5px;
}
/* End Dashboard Page*/

/* Start Members Page*/

    h1 {
        font-size: 55px;
        margin: 40px 0;
        font-weight: bold;
        color: #888;
    }

.show-pass {
    position: absolute;
    top: 15px;
    right: -20px;
}

/* .main-table {
    border-radius: 25px;
} */

.main-table {
    box-shadow: 0 3px 10px #CCC;
    -moz-box-shadow: 0 3px 10px #CCC;
    -webkit-box-shadow: 0 3px 10px #CCC;
    /* للمتصفحات القديمة */
}
.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}
.main-table tr:first-child td { /* You Can Use Thead  */
    background-color: #333;
    color: #FFF;
}

.main-table .btn {
    padding: 3px 10px;
}

/* End Members Page*/

/* Start Category Pag*/

.categories .panel-body {
    padding: 0;
}

.categories .cat {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.categories .cat:hover {
    background-color: #EEE;
}

.categories .cat:hover .hidden-buttons {
    right: 10px;
}

.categories .cat .hidden-buttons {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -120px;
}
.categories .cat .hidden-buttons a {
    margin-right: 5px;
}

.categories hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.categories .cat h3 {
    margin: 0 0 10px;
}

.categories .cat:last-of-type ~ hr {
    display: none;
}

.categories .cat .visibility {
    background-color: #d35400;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}

.categories .cat .commenting {
    background-color: #2c3e50;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}

.categories .cat .advertises {
    background-color: #c0392b;
    color: #FFF;
    padding: 4px 6px;
    margin-right: 6px;
    border-radius: 6px;
}
/* End Category Pag*/