/* Start Main Rulez */

body {
    background-color: #f4f4f4;
    font-size: 16px;
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #d81616;
}

/* .asterisk { */
    /* position: absolute;
    right: 12px; */
    /* مسافة من اليمين داخل العمود */
    /* top: 50%; */
    /* منتصف الحقل عموديًا */
    /* transform: translateY(-50%);
    color: #e74c3c;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    pointer-events: none; */
    /* حتى لا يتداخل مع النقر على الحقل */
/* } */

/* End Main Rules */

/* Start Login Form */

.login {
    width: 300px;
    margin: 100px auto;
}

.login .h4 {
    color: #888;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #E5E5E5;
}

.login .btn {
    background-color: #008dde;
}

/* End Login Form */

/* Start Bootstrap Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 15px;
}

.dropdown-menu>li>a {
    color: #FFF;
    padding: 10px 15px;
    border-radius: 15px;
}

.form-group .col-sm-10 {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Members Page*/

    h1 {
        font-size: 55px;
        margin: 40px 0;
        font-weight: bold;
        color: #888;
    }

/* End Members Page*/