/* Start Main Rulez */

body {
    background-color: #f4f4f4;
    font-size: 16px;
}

.asterisk {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 8px;
    color: #d81616;
}

.login {
    width: 300px;
    margin: 100px auto;
}

.login .h4 {
    color: #888;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #E5E5E5;
}

.login .btn {
    background-color: #008dde;
}

/* End Login Form */

/* Start Bootstrap Edits */

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.nav > li > a,
.navbar-brand {
    padding: 15px 12px;
}

.navbar-brand {
    font-size: 1em;
}

.navbar-inverse .navbar-nav > .open>a,
.navbar-inverse .navbar-nav > .open>a:focus,
.navbar-inverse .navbar-nav > .open>a:hover,
.dropdown-menu {
    background-color: #3498db;
}

.dropdown-menu {
    min-width: 180px;
    padding: 0;
    font-size: 1em;
    border: none;
    border-radius: 15px;
}

.dropdown-menu>li>a {
    color: #FFF;
    padding: 10px 15px;
    border-radius: 15px;
}

.form-group .col-sm-10 {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Dashboard Page*/

.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    color: #FFF;
}

.home-stats .stat a {
    color: #FFF;
}

.home-stats .stat a:hover {
    text-decoration: none;
}

.home-stats .st-members {
    background-color: #3498db;
}

.home-stats .st-pending {
    background-color: #3498db;
}

.home-stats .st-item {
    background-color: #3498db;
}

.home-stats .st-coments {
    background-color: #3498db;
}

.home-stats .stat span {
    display: block;
    font-size: 60px;
}

.latest {
    margin-top: 30px;
}

.panel-heading {
    border-radius: 20px;
}

.panel-default {
    border-radius: 20px;
}
/* End Dashboard Page*/

/* Start Members Page*/

    h1 {
        font-size: 55px;
        margin: 40px 0;
        font-weight: bold;
        color: #888;
    }

.show-pass {
    position: absolute;
    top: 15px;
    right: -20px;
}

/* .main-table {
    border-radius: 25px;
} */

.main-table {
    box-shadow: 0 3px 10px #CCC;
    -moz-box-shadow: 0 3px 10px #CCC;
    -webkit-box-shadow: 0 3px 10px #CCC;
    /* للمتصفحات القديمة */
}
.main-table td {
    background-color: #FFF;
    vertical-align: middle !important;
}
.main-table tr:first-child td { /* You Can Use Thead  */
    background-color: #333;
    color: #FFF;
}

.main-table .btn {
    padding: 3px 10px;
}

/* End Members Page*/